name: Maven CI

on:
  workflow_dispatch: { }
  push: { }
  pull_request: { }

# Minimum permissions required by skip-duplicate-actions
permissions:
  actions: write
  contents: read

jobs:
  build:
    if: github.event_name != 'push' && github.event.pull_request.head.repo.full_name == github.event.pull_request.base.repo.full_name
    runs-on: [ubuntu-latest]
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.1

      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          java-version: 17
          distribution: temurin

      - name: Build application with Maven
        shell: bash
        run: |
          ./mvnw \
            --batch-mode \
            --errors \
            --no-transfer-progress \
            generate-sources \
            com.github.eirslett:frontend-maven-plugin:yarn@optimize-images \
            verify
